<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Administration{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet" />
            <link href="{{ asset('/css/style.css') }}" rel="stylesheet" />{% endblock %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        </head>
        <body>
            {% block nav %}
                <nav class="navbar">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('client') }}">Le Pti Coin</a>
                        </div>
                        <div>
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('profil') }}">Mon profil</a></li>
                                <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            {% endblock %}
            {% block body %}
                {%if app.user.username is defined%}
                    <h1>Bienvenue {{app.user.username}}</h1>
                {% endif %}
                <div class="container-fluid">
       

    <div class="col-lg-offset-1 col-lg-4 annonce">
     <h2 class=" col-lg-12">Annonce</h2>
     <li  ><a href="{{ path('mesannonces') }}">Voir mes annonces</a></li>
     <br>
     <li> <a href="{{ path('new') }}">Déposer une annonce</a></li>
     
   
     
    </div>
    
    <div class="col-lg-offset-1 col-lg-4 demande" >
     <h2 class=" col-lg-12">Demande</h2>
     <li><a href="{{ path('mesdemandes') }}">Liste des demandes</a></li>
     <br>
     <li><a href="{{ path('newdemande') }}">Déposer une demandes</a></li>
     
    </div>
     
    {% if is_granted('ROLE_ADMIN') %}
   
    <div class="col-lg-offset-4 col-lg-4 categorie" >
     <h2 class=" col-lg-12">Catégorie</h2>
     <li><a href="{{ path('listecategorie') }}">Liste des catégories</a></li>
     
    </div>
     {% endif %}
  </div>
            {% endblock %}
            {% block footer %}
                <footer></footer>
            {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
