{% extends 'accueil.html.twig' %}

{% block title %}Modifier une annonce{% endblock %}

{% block body %}
    <h1>Modifier une annonce</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <a href="{{ path('mesannonces') }}">
        <button type="button" class="btn btn-default">Retour à la liste</button></a>
    

            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
