{% extends 'accueil.html.twig' %}

{% block title %}Modifier une annonce{% endblock %}
{% block nav %}
            <nav>
                <ul>
                    <li><a href="{{ path('accueil') }}">Accueil</a></li>
                    <li><a href="{{ path('mesannonces') }}">Voir mes annonces</a></li>
                    <li><a href="{{ path('new') }}">Déposer une annonce</a></li>
                    <li><a href="{{ path('listecategorie') }}">Liste des catégories</a></li>
                    <li><a href="{{ path('profil') }}">Mon profil</a></li>
                    </ul>
            </nav>
            {% endblock %}

{% block body %}
    <h1>Modifier une annonce</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('mesannonces') }}">Retour à la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
