{% extends 'accueil.html.twig' %}

{% block title %}Mes annonces{% endblock %}

 {% block nav %}
                <nav class="navbar">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('client') }}">Le Pti Coin</a>
                        </div>
                        <div>
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('profil') }}">Mon profil</a></li>
                                <li><a href="{{ path('new') }}">Déposer une annonce</a></li>
                                <li><a href="{{ path('newdemande') }}">Déposer une demande</a></li>
                                <li><a href="{{ path('mesdemandes') }}">Voir mes demandes</a></li>
                                <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            {% endblock %}

{% block body %}
    <h2>{%if app.user.roles[0] == "ROLE_ADMIN"%}Liste d'{%else%}Mes {%endif%}annonces</h2>

   <table class="table table-annonces">
        <thead>
            <tr>                
                <th>Titre</th>
                <th>Image</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Vendeur</th>
                <th>Dateparution</th>
                <th>Heure</th>
                <th>Telephone</th>
                <th>Categorie</th>
                <th>Localite</th>
                <th id="act">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>             
                <td>{{ annonce.titre }}</td>          
                <td><div class="imgcontainer"><img class="image img-responsive" src ="{{asset('uploads/img/'~annonce.img)}}" alt="{{annonce.img}}"/></div></td>                
                <td class ="description">{{ annonce.description }}</td>
                <td>{{ annonce.prix }} €</td>
                <td>{{ annonce.vendeur }}</td>
                <td>{{ annonce.dateparution|date("d/m/y") }}</td>
                <td>{{ annonce.dateparution|date("H:i")}}</td>
                <td>{{ annonce.telephone }}</td>
                <td>{{ annonce.categorie }}</td>
                <td>{{ annonce.localite }}</td>
                <td id="glyph">
                    <a href="{{ path('show', { 'id': annonce.id }) }}">
                        <span class="glyphicon glyphicon-list-alt afficher">
                        <p id="aff">Afficher</p></span></a>
                    <a href="{{ path('edit', { 'id': annonce.id }) }}">
                        <span class="glyphicon glyphicon-wrench modifier">
                        <p id="modi">Modifier</p></span></a>
                        
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('new') }}">
    <button type="button" class="btn btn-default">Créer une nouvelle annonce</button></a>
    
        
    
{% endblock %}
