{% extends 'accueil.html.twig' %}
{% block title %}Mon profil{% endblock %}

{% block nav %}
                <nav class="navbar">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('client') }}">Le Pti Coin</a>
                        </div>
                        <div>
                            <ul class="nav navbar-nav">
                              
                                <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            {% endblock %}

{% block body %}
{% for profil in monProfil%}
    <h3>Mon Profil</h3>
    
    <div >
 <table class="table-profil ">
 <thead>
      <tr>
        <th class="profil-titre">Avatar</th>
      </tr>
 </thead>
 <tbody>
      <tr>
     <td><div class="imgcontainer"><img class="image img-responsive" src ="{{asset('uploads/img/'~profil.avatar)}}" alt="{{profil.avatar}}"/>
     </div></td>
     </tr>
 </tbody>
     
<thead>
      <tr>
        <th class="profil-titre">Pseudo</th>
      </tr>
 </thead>
 <tbody>
      <tr>
   <td >{{profil.username}}</td>
      </tr>
 </tbody>
    
<thead>
   <tr>
        <th class="profil-titre">Nom</th>
   </tr>
</thead>
  
<tbody>
      <tr>
          
   <td>{{profil.nom}}</td>
   
      </tr>
  
</tbody>
  
<thead>
      <tr>
   <th class="profil-titre">Prénom</th>
      </tr>
</thead>
  
<tbody>
   <tr>
   <td>{{profil.prenom}}</td>
   </tr>
</tbody>
  
<thead>
   <tr>
   <th class="profil-titre">Email</th>
   </tr>
</thead>
<tbody>
   <tr>
   <td>{{profil.email}}</td>
   </tr>
</tbody>
  
<thead>
   <tr>
   <th class="profil-titre">Code Postale</th>
   </tr>
</thead>
<tbody>
   <tr>
   <td>{{profil.codepostale}}</td>
   </tr>
</tbody>
  
<thead>
    <tr>
   <th class="profil-titre">Ville</th>
    </tr>
</thead>
<tbody>
    <tr>
   <td>{{profil.ville}}</td>
    </tr>
</tbody>
   
</table>
</div>
</div>
       
{% endfor %}
{% endblock %}
