{% extends 'accueil.html.twig' %}
{% block title %}Voir mon annonce{% endblock %}
{% block body %}
    <h2>Voir mon annonce</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Image</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Vendeur</th>
                <th>Date</th>
                <th>Heures</th>
                <th>Telephone</th>
                <th>Categorie</th>
                <th>Localite</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.titre }}</td>
                <td>
                    <div class ="imgcontainer">
                        <img class="image img-responsive" src ="{{asset('uploads/img/'~annonce.img)}}" alt="{{annonce.img}}"/>
                    </div>
                </td>
                <td class="description">{{ annonce.description }}</td>
                <td>{{ annonce.prix }} €</td>
                <td>{{ annonce.vendeur }}</td>
                <td>{{ annonce.dateparution|date("d/m/y") }}</td>
                <td>{{annonce.dateparution|date("h:m")}}</td>
                <td>{{ annonce.telephone }}</td>
                <td>{{ annonce.categorie }}</td>
                <td>{{ annonce.localite }}</td>
            </tr>
        </tbody>
    </table>

            <a href="{{ path('mesannonces') }}">
                <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span> Retour à la liste</button>
            </a>
                
            <a href="{{ path('edit', { 'id': annonce.id }) }}">
                <button type="button" class="btn btn-default "><span class="glyphicon glyphicon-wrench modifier"></span> Modifier</button>
            </a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-default">
            {{ form_end(delete_form) }}
            
{% endblock %}
