{% extends 'accueil.html.twig' %}

{% block title %}Liste des demandes{% endblock %}

{% block body %}
    <h2>Liste des demandes</h2>

    <table class="table table-demandes">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Image</th>
                <th>Description</th>
                <th>Estimation</th>
                <th>Demandeur</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Telephone</th>
                <th>Categorie</th>
                <th>Localite</th>
                <th id="act">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.titre }}</td>
                <td><div class ="imgcontainer"><img class="image img-responsive" src ="{{asset('uploads/img/'~demande.img)}}" alt="{{demande.img}}"/></div></td>
                <td class ="description">{{ demande.description }}</td>
                <td>{{ demande.estimation }} €</td>
                <td>{{ demande.demandeur }}</td>
                <td>{{ demande.dateparution|date("d/m/y") }}</td>
                <td>{{ demande.dateparution|date("H:i")}}</td>
                <td>{{ demande.telephone }}</td>
                <td>{{ demande.categorie }}</td>
                <td>{{ demande.localite }}</td>
                <td id="glyph">
                    <a href="{{ path('showdemande', { 'id': demande.id }) }}">
                        <span class="glyphicon glyphicon-list-alt afficher">
                        <p id="aff">Afficher</p></span></a>
                    <a href="{{ path('editdemande', { 'id': demande.id }) }}">
                        <span class="glyphicon glyphicon-wrench modifier">
                        <p id="modi">Modifier</p></span></a> 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('newdemande') }}">
                <button type="button" class="btn btn-default">Créer une nouvelle demande</button></a>
        </li>
    </ul>
{% endblock %}
