{% extends 'accueil.html.twig' %}

{% block title %}Liste des demandes{% endblock %}

{% block nav %}
                <nav class="navbar">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ path('client') }}">Le Pti Coin</a>
                        </div>
                        <div>
                            <ul class="nav navbar-nav">
                                <li><a href="{{ path('profil') }}">Mon profil</a></li>
                                <li><a href="{{ path('new') }}">Déposer une annonce</a></li>
                                <li><a href="{{ path('newdemande') }}">Déposer une demande</a></li>
                                <li><a href="{{ path('mesannonces') }}">Voir mes annonces</a></li>
                                <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            {% endblock %}
{% block body %}
    
    <h2>{%if app.user.roles[0] == "ROLE_ADMIN"%}Liste des {%else%}Mes {%endif%}demandes</h2>

    <table class="table table-demandes">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Image</th>
                <th>Description</th>
                <th>Estimation</th>
                <th>Demandeur</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Telephone</th>
                <th>Categorie</th>
                <th>Localite</th>
                <th id="act">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande in demandes %}
            <tr>
                <td>{{ demande.titre }}</td>
                <td><div class ="imgcontainer"><img class="image img-responsive" src ="{{asset('uploads/img/'~demande.img)}}" alt="{{demande.img}}"/></div></td>
                <td class ="description">{{ demande.description }}</td>
                <td>{{ demande.estimation }} €</td>
                <td>{{ demande.demandeur }}</td>
                <td>{{ demande.dateparution|date("d/m/y") }}</td>
                <td>{{ demande.dateparution|date("H:i")}}</td>
                <td>{{ demande.telephone }}</td>
                <td>{{ demande.categorie }}</td>
                <td>{{ demande.localite }}</td>
                <td id="glyph">
                    <a href="{{ path('showdemande', { 'id': demande.id }) }}">
                        <span class="glyphicon glyphicon-list-alt afficher">
                        <p id="aff">Afficher</p></span></a>
                    <a href="{{ path('editdemande', { 'id': demande.id }) }}">
                        <span class="glyphicon glyphicon-wrench modifier">
                        <p id="modi">Modifier</p></span></a> 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('newdemande') }}">
                <button type="button" class="btn btn-default">Créer une nouvelle demande</button></a>
        
{% endblock %}
