{% extends 'ClientBundle:Default:baseclient.html.twig' %}

{% block body %}
    <h2>Liste d'annonces</h2>
        <div class="table-responsive">
            <table class="table product-table"> 
                <!--table head-->
                <thead>
                    <tr>
                        <th>Img</th>
                        <th>Titre</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                <!--/table head-->

                <!--table body-->
                <tbody>
                    {% for annonce in annonces %}
                        <tr>
                            <td><img src="http://familyonbikes.org/blog/wp-content/uploads/2013/10/rusty-bike.jpg" alt="" class="img-fluid"></td>
                            <td>
                                <h4><strong>{{ annonce.titre }}</strong></h4>
                                <h5>{{ annonce.categorie }}</h5>
                                </p>{{ annonce.localite }}</p>
                            </td>
                            <td>
                                <h4><strong>{{ annonce.prix }}</strong></h4>
                                {{ annonce.dateparution|date("d/m/y") }}
                            </td> 
                        </tr>
                    {% endfor %}
                </tbody>
                <!--/table body-->
            </table>
        </div>
            {% endblock %}

