{% extends 'ClientBundle:Default:baseclient.html.twig' %}

{% block body %}
        <div class="table-responsive">
            <h3 class="table-title">Nouvelles annonces</h3>
            <table class="table table-visiteur"> 
                <!--table head-->
                <!--/table head-->

                <!--table body-->

                <tbody>
                    {% for annonce in annonces %}
                        <tr>
                            <td class="left-col">
                                <div class="imgcontainer">
                                    <img src="http://familyonbikes.org/blog/wp-content/uploads/2013/10/rusty-bike.jpg" alt="" class="img-fluid">
                                </div>
                            </td>
                                
                            <td>
                                <h3><strong>{{ annonce.titre }}</strong></h3>
                                <h4>{{ annonce.categorie }}</h4>
                                </p>{{ annonce.localite }}</p>
                            </td>
                            <td class="right-col">
                                <h3><strong>{{ annonce.prix }}</strong></h3>
                                {{ annonce.dateparution|date("d/m/y") }}
                            </td> 
                        </tr>
                        <tr class="spacer"></tr>
                    {% endfor %}
                </tbody>
                <!--/table body-->
            </table>
        </div>
            {% endblock %}

