{% extends 'accueil.html.twig' %}

{% block body %}
    <h1>Liste des catégories</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>
                    <a href="{{ path('showcategorie', { 'id': categorie.id }) }}">{{ categorie.id }}</a>
                </td>
                <td>{{ categorie.nom }}</td>
                <td>
                    
                            <a href="{{ path('showcategorie', { 'id': categorie.id }) }}">
                                <button type="button"  class="btn btn-default">Afficher</button></a>
                            
                            <a href="{{ path('editcategorie', { 'id': categorie.id }) }}">
                                <button type="button"  class="btn btn-default">Modifier</button></a>
              </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('newcategorie') }}">
                <button type="button"  class="btn btn-default">Creer une nouvelle catégorie</button></a
  
{% endblock %}
